body {
    margin: 0;
    background: #fff;
    color: #000;
    font: 12px Tahoma;
    line-height: 14px;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.container {
    margin: 0 auto;
    box-shadow: 0 0 5px #dadcdc;
    width: 990px;
    position: relative;
}

/*Шапка страницы*/
.header-top {
    padding: 10px;
    height: 100px;

}

.logo {
    background: url('../images/logo.png') no-repeat;
    display: block;
    width: 330px;
    height: 120px;
    margin: -10px 0 0 -10px;
    float: left;
}

/*.btn-container{*/
/*margin: 0;*/
/*padding: 0;*/
/*display: block;*/

/*}*/

.login-button {
    display: inline-block;
    padding: .5em 1em;
    background: rgb(161, 195, 238);
    color: rgb(26, 88, 122);
    border-radius: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.login-button:hover {
    text-decoration: underline;
}

.search {
    display: block;
    width: 461px;
    float: right;
    margin-top: 40px;
    background: url('../images/search.png') no-repeat;
    position: relative;
}

.input-field {
    outline: none;
    display: inherit;
    background: rgba(0, 0, 0, 0);
    border: 0;
    width: 350px;
    height: 28px;
    padding: 0 5px;
    color: #929292;
    float: left;
}

.search-button {
    outline: none;
    display: inherit;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border: 0;
    text-transform: uppercase;
    width: 100px;
    height: 28px;
    cursor: pointer;
}

/*///*/
.main-menu {
    background: #ac2925;
    width: 1010px;
    height: 41px;
    margin-left: -10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main-menu ul{
    margin: 0;
}

.main-menu-item {
    position: relative;
    display: inline-block;
    float: left;
    background: url('../images/menudiv.png') 0 0 no-repeat;
}

.main-menu-item:first-child{
    background: none;
}

.main-menu-item > a {
    color: #fff;
    display: block;
    line-height: 41px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 13px;
    /*border-left: #fff dashed 1px;*/
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu-item:hover > a {
    background: #fff;
    color: #ac2925;
}

/*.main-menu-item a:hover{*/
/*}*/

.main-menu-item:first-child a {
    border-left: none;
}

.sub-main-menu {
    z-index: 2;
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    min-width: 150px;
    box-shadow: 0 0 5px #ccc;
    -webkit-padding-start: 10px;
}

.main-menu-item:hover .sub-main-menu {
    display: block;
}

.sub-main-menu a {
    display: block;
    background: #fff;
    color: #333;
    float: none;
    text-decoration: none;
    font: 12px Tahoma;
    padding: 7px;
}

.sub-main-menu li:hover a {
    background: #ebebeb;
    border-radius: 4px;
}

.col-left {
    float: left;
    width: 650px;
    margin-left: 15px;

}

.slider img{
    max-width: 640px;
}

.col-right {
    width: 310px;
    float: left;
    padding-left: 10px;
}

.news-menu-header {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.news-menu-header-item {
    display: inline-block;
    background: #eee;
    border: solid 1px #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.news-menu-header-item a {
    text-decoration: none;
    font-size: 11px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    color: #333;
    outline: none;
}

.news-menu-header-item a:hover {
    text-decoration: underline;
}

.active {
    background: #fff;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #ccc;
}

.active a {
    font-weight: bold;
}

.news-menu-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
    height: 410px;
}

.news-menu-list {
    width: 285px;
    height: 410px;
    overflow-y: scroll;
}

.news-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-list-item {
    display: block;
    padding: 5px;
    margin: 5px;
}

 .news-list-item:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    clear: both;
}

.news-list-item img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 8px;
}

.news-list-item a {
    color: #555;
    font-size: 12px;
    text-decoration: none;
}

.news-list-item a:hover {
    text-decoration: underline;
}

.news-list-item:nth-child(2n+1) {
    background: #efefef;
}

.views{
    background: url("../images/ico_views.png") no-repeat;
    padding-left: 16px;
    color:#999;
    font-size: 10px;
}